#libasse{
	background: #b7a7b4;
    position: relative;
    padding: 11em 0;
    width: 100%;
	}
#ameth{
	background: white;
	box-sizing:border-box;
color:rgb(51, 51, 51);
display:block;
font-family:Roboto, sans-serif;
font-size:16px;
height:389.531px;
line-height:22.8571px;
text-align:center;
text-size-adjust:100%;
width:307.188px;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
#tiko{
	background-attachment:
scroll
;
background-clip:
border-box
;
background-color:
rgb(255, 255, 255)
;
background-image:
none
;
background-origin:
padding-box
;


border-bottom-color:
rgba(213, 213, 214, 0.85)
;
border-bottom-style:
solid
;
border-bottom-width:
1px
;
border-image-outset:
0px
;


border-left-color:
rgba(213, 213, 214, 0.85)
;
border-left-style:
solid
;
border-left-width:
1px
;
border-right-color:
rgba(213, 213, 214, 0.85)
;
border-right-style:
solid
;
border-right-width:
1px
;
border-top-color:
rgba(213, 213, 214, 0.85)
;

border-top-width:
1px
;


color:
rgb(51, 51, 51)
;
display:
block
;
font-family:
Roboto, sans-serif
;
font-size:
16px
;


   
padding-bottom:
32px
;
padding-left:
32px
;
padding-right:
32px
;
padding-top:
32px
;

text-align:
center
;
text-size-adjust:
100%
;

width:
500px
;
-webkit-tap-highlight-color:
rgba(0, 0, 0, 0)
;

}
#test{

}